<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">



    <% var currency = Object.keys(data)[1] %>
        <div class="">
            <h1 class = "title">World Wide Currency Exchange Rate</h1>
                    <div class="flex-container">
                        <form action="/currency" class="select-currency" method = "GET">
                            <label for="currency">Type in Base Currency:</label>
                            <input type="text" id = "currency" name = "currency" placeholder= <%= currency.toUpperCase() %>>
                        </form>

                        <form action="" class="select-date">
                            <label for="date">Type in Date:</label>
                            <input type="text" placeholder= <%= data.date %>>
                        </form>

                    </div>
                    <h2 class = "date">Date: <%= data.date %></h2>
                
                    <h2 class="currency">Base Currency: <%= currency.toUpperCase() %></h2>

                </div>
        
        <section class= "currency-grid">
        
                <% for (const key in data.usd)  { %>
                    <p class = "currencies"> <%= key.toUpperCase() %>: <%= data[currency][key] %></p>
            <% } %>  
            </ul>
        </section>

    </div>
    

    
    
</body>
</html>